.home{
    background-color: white;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo{
    width: 90%;
    max-width: 600px;
}

