.search-results {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  .search-results-breadcrumb{
    width: 900px;
  }


.search-results-box {
  width: 900px;
  margin: 16px 0;
  border-radius: 4px;
  max-width: 90%;
}

@media (max-width: 950px){
  .search-results-box{
    width: 90%;
  }
  .search-results-breadcrumb{
    width: 90%;
  }

}